body{
    background-image: url(../img/mad1.png)
}

.imagenes {
  width: 100px;
  display:block;
  margin:auto;  
}

a {
    background-color: chocolate;
}

.tit{
    background-color: darkcyan;
    text-align: center;
}

ol li {
    text-align: center;
}

.menu{
    font-size:2em;
    width: 250px;
    float:left;
    color: white;
  }
  .parrafo{
    background-color: seagreen;
    color:purple;
    width:960px;
    margin: 0px auto;
    overflow: hidden;
    text-align : justify;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-width: 2px;
    border-top-color: white;
    border-top-style: solid;
    border-bottom-width: 21px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: white;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-color: white;
    border-right-style: solid;
  }

  dt{
    color: darkblue;
  }